@font-face {
    font-family:SourceSerif;
    src:url("fonts/SourceSerifPro-Regular.otf");
}

@font-face {
    font-family:Icomoon;
    src:url("fonts/icomoon.ttf");
}

@font-face {
    font-family:Quicksand;
    src:url("fonts/Quicksand-Regular.otf");
}

@font-face{
    font-family:BN;
    src:url("fonts/Baron Neue.otf");
}

*{
    box-sizing: border-box;
    margin:0;
}

.page_body {
    width:auto;
    min-width: 1100px;
    min-height:805px;
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("papier2.jpg");
    background-repeat: repeat;
    /*border:1px solid rgb(244,66,66);*/
}


.header_background {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(255,250,239);
    border-bottom: 5px dashed rgba(109, 54, 165,0.2);
    /*border:1px solid rgb(244,66,66);*/
}


/*HEADER(LOGO+MENU) FLEX BOX, border red*/
.header {
    width:1100px;
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
    -webkit-flex-direction:column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top:75px; 
    /*border:1px solid rgb(244,66,66);*/
    background-color:rgb(255,250,239);
}


/*MENU BAR FLEX BOX, border green*/
.menu_bar{
    width:1100px;
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    align-items: center;
    -webkit-align-items:center;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin-bottom:15px;
    background-color:rgb(255,250,239);
    /*border:1px solid rgb(51,210,12);*/
}


/*MENU FLEX BOX ITEMS, border black*/
.menu_item {
    color:rgba(45,20,71,0.7);
    font-size: 23px;
    word-spacing: 0.2em;
    font-family:SourceSerif,sans-serif;
    /*font-weight:900;
    border:1px solid rgb(0,0,0);*/   
}

.icon {
    color:rgba(109, 54, 165,0.5);
    font-size: 28px;
    font-family:Icomoon,serif;
}

.logo {
    width:400px;
    margin-bottom:65px;
    /*border:1px solid rgb(66,182,23);*/
}


/* GALLERY FLEX BOX*/
.gallery {
    width:1100px;
    display:flex;
    display:-webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    align-items:flex-start;
    -webkit-align-items:flex-start;
    min-width: 1000px;
    margin-bottom: 70px;
    /*border:1px solid rgb(66,188,23);*/
    background-image: url("papier2.jpg");
    background-repeat: repeat;
    margin-top:40px;
}

/*LEFT HALF GALLERY FLEX BOX*/
.gallery_left {
    width:45%;
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-right:15px;
    /*border:1px solid rgb(66,188,23);*/
    background-image: image("papier2.jpg");
    background-repeat: repeat;
}

/*RIGHT HALF GALLERY FLEX BOX*/
.gallery_right {
    width:45%;
    display:flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content:center;
    -webit-justify-content:center;
    align-items: center;
    -webkit-align-items: center;
    margin-left:15px;
    /*border:1px solid rgb(206,8,13);*/
    background-image: image("papier2.jpg");
    background-repeat: repeat;

}

.pic {
    margin-bottom:40px;
    margin-top:40px;
    width:100%;
    border-radius: 0px 40px;
    background-image: image("papier2.jpg");
    background-repeat: repeat;
}


@keyframes shadow{
    
    60%{
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        box-shadow:
            1px 1px #ffd472,
            2px 2px #ffd472,
            3px 3px #ffd472,
            4px 4px #ffd472;   
    }
    
    70%{
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        box-shadow:
            1px 1px #ffd472,
            2px 2px #ffd472;   
    }
    
    80%{
        transform: translateX(-3px); 
        box-shadow:none;
    }
    
    90%{
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        box-shadow:
            1px 1px #c6b8f2,
            2px 2px #c6b8f2; 
    }
    
    100%{
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        box-shadow:
            1px 1px #c6b8f2,
            2px 2px #c6b8f2,
            3px 3px #c6b8f2,
            4px 4px #c6b8f2;  
    }     
} 
  
.shadow :hover{
    animation: shadow 0.6s forwards; 
}


/* LINKS IN MENU*/
a:link, a:visited {
    text-decoration: none;
    color:rgba(45,20,71,0.7);
}

a:hover {
    text-decoration: none;
    transition:0.4s ease;
    color:#f7c56a;
}

/* CONTACT ME PAGE*/
.contact_page{
    border:1px solid rgb(206,8,13);
    width:1100px;
    display:flex;
    display:-webkit-flex;
    flex-direction:column;
    -webkit-flex-direction:column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    margin-top:100px;
    margin-bottom: 60px;
}

#thank_you {
    color:rgba(45,20,71,0.7);
    font-size: 40px;
    word-spacing: 0.1em;
    font-family:Quicksand,sans-serif;
    margin-bottom: 120px;
    line-height: 175%;
    text-align: center;
}

#contact_info {
    color:rgba(45,20,71,0.7);
    font-size: 26px;
    word-spacing: 0.1em;
    font-family:Quicksand,sans-serif;
}


/* ABOUT ME PAGE*/
.about_page{
    width:1100px;
    display:flex;
    display:-webkit-flex;
    flex-direction:row;
    -webkit-flex-direction:row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    margin-top:75px;
    margin-bottom:70px;
}

.portrait_label{
    width:40%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-right:50px;
    color:rgba(45,20,71,0.7);
    font-size: 19px;
    word-spacing: 0.1em;
    text-align: center;
    font-family:Quicksand,sans-serif;
    margin-left: 20px;
}


#portrait{
    width:100%;
    border-radius: 20px;
    margin-bottom: 15px;
}


.about_info{
    width:59%;
    margin-left:15px;
}

#blurb{
    color:rgba(45,20,71,0.7);
    font-size: 26px;
    word-spacing: 0.1em;
    font-family:Quicksand,sans-serif;
    margin-left:20px;
    margin-right:20px;
    line-height: 135%;  
}

#title{
    color:rgba(45,20,71,0.7);
    font-size: 35px;
    word-spacing: 0.2em;
    letter-spacing: 0.05em;
    font-family:SourceSerif,sans-serif;
    text-align: center;
    margin-bottom: 25px;
    margin-top:-10px;
}
